version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: locadora_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: locadora
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3307"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
